<?xml version="1.0" encoding="utf-8" ?>
<!-- Exchange SQL Configuration - preliminary support -->
<!-- %MAILBOXDATABASENAME% will be replaced by Exchange -->
<!-- More information https://goo.gl/QiTtDo -->
<configuration>
	<sectionGroup name="SqlMapiProviderGroup" type="Microsoft.Exchange.Data.SQL.SqlMapiProviderGroup, Microsoft.Exchange.Data.Common, Version=15.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
		<section name="SqlMapiProviderSection" type="Microsoft.Exchange.Data.SQL.SqlMapiProviderGroup, Microsoft.Exchange.Data.Common, Version=15.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
	<runtime>
		<gcServer enabled="True" />
		<generatePublisherEvidence="False" />
	</runtime>
	<appSettings>
		<add key="MigrateMailboxesAutomatically" value="false" /> <!-- Not yet supported -->
		<add key="AllowJETBlueCoexistence" value="true" /> <!-- Allows for SQL/ESE (modern storage/legacy storage) Coexistence in DAG -->
		<add key="PerDatabaseMaxSize" value="1GB" /> <!-- Max SQL database size -->
		<add key="VerboseLoggingEnabled" value="False" /> 
	</appSettings>
	<SqlMapiProviderSection>
		<SqlMapiProvider>
			<add name="LobsterMapiDB"
			providerName="System.Data.SqlClient"
			connectionString="Data Source=SERVERNAME\INSTANCE;Initial Catalog=%MAILBOXDATABASENAME%;Integrated Security=True;MultipleActiveResultSets=True" />
		</SqlMapiProvider>
	</SqlMapiProviderSection>
</configuration>